## The Weather Dataset

Here, The Weather Dataset is a time-series data set with per-hour information about the weather conditions at a particular location. It records Temperature. Dew Point Temperature. Relative Humidity. Wind Speed, Visibility, Pressure and Conditions.

In [1]:
import pandas as pd

In [2]:
data=pd.read_csv('Weather Data.csv')

### .Head

It shows the first N rows in the data(by default N=5)

In [3]:
data.head()

,Date/Time,Temp_C,Dew Point Temp_C,Rel Hum_%,Wind Speed_km/h,Visibility_km,Press_kPa,Weather
0,1/1/2012 0:00,-1.8,-3.9,86,4,8.0,101.24,Fog
1,1/1/2012 1:00,-1.8,-3.7,87,4,8.0,101.24,Fog
2,1/1/2012 2:00,-1.8,-3.4,89,7,4.0,101.26,"Freezing Drizzle,Fog"
3,1/1/2012 3:00,-1.5,-3.2,88,6,4.0,101.27,"Freezing Drizzle,Fog"
4,1/1/2012 4:00,-1.5,-3.3,88,7,4.8,101.23,Fog

### .Shape

It shows the total no. of rows and no. of columns of the dataframe

In [4]:
data.shape

(8784, 8)

### .Index

This attribute provides the index of the dataframe

In [5]:
data.index

RangeIndex(start=0, stop=8784, step=1)

### .Columns

It shows the name of each column

In [6]:
data.columns

Index(['Date/Time', 'Temp_C', 'Dew Point Temp_C', 'Rel Hum_%',
       'Wind Speed_km/h', 'Visibility_km', 'Press_kPa', 'Weather'],
      dtype='object')

### .Dtypes

It shows the data-type of each column

In [7]:
data.dtypes

Date/Time            object
Temp_C              float64
Dew Point Temp_C    float64
Rel Hum_%             int64
Wind Speed_km/h       int64
Visibility_km       float64
Press_kPa           float64
Weather              object
dtype: object

### .Unique

In a column, it shows all the unique values. It can be applied on a single column only, not on the whole dataframe

In [8]:
data.Weather.unique()

array(['Fog', 'Freezing Drizzle,Fog', 'Mostly Cloudy', 'Cloudy', 'Rain',
       'Rain Showers', 'Mainly Clear', 'Snow Showers', 'Snow', 'Clear',
       'Freezing Rain,Fog', 'Freezing Rain', 'Freezing Drizzle',
       'Rain,Snow', 'Moderate Snow', 'Freezing Drizzle,Snow',
       'Freezing Rain,Snow Grains', 'Snow,Blowing Snow', 'Freezing Fog',
       'Haze', 'Rain,Fog', 'Drizzle,Fog', 'Drizzle',
       'Freezing Drizzle,Haze', 'Freezing Rain,Haze', 'Snow,Haze',
       'Snow,Fog', 'Snow,Ice Pellets', 'Rain,Haze', 'Thunderstorms,Rain',
       'Thunderstorms,Rain Showers', 'Thunderstorms,Heavy Rain Showers',
       'Thunderstorms,Rain Showers,Fog', 'Thunderstorms',
       'Thunderstorms,Rain,Fog',
       'Thunderstorms,Moderate Rain Showers,Fog', 'Rain Showers,Fog',
       'Rain Showers,Snow Showers', 'Snow Pellets', 'Rain,Snow,Fog',
       'Moderate Rain,Fog', 'Freezing Rain,Ice Pellets,Fog',
       'Drizzle,Ice Pellets,Fog', 'Drizzle,Snow', 'Rain,Ice Pellets',
       'Drizzle,Snow,Fog', 'Rain,Snow Grains', 'Rain,Snow,Ice Pellets',
       'Snow Showers,Fog', 'Moderate Snow,Blowing Snow'], dtype=object)

### .Nunique

It shows the total no. of unique values in each column. It can be applied on a single column as well as on whole dataframe.

In [9]:
data.nunique()  ## nunique() function used for both whole dataset and single dataset column

Date/Time           8784
Temp_C               533
Dew Point Temp_C     489
Rel Hum_%             83
Wind Speed_km/h       34
Visibility_km         24
Press_kPa            518
Weather               50
dtype: int64

In [10]:
data.Weather.nunique()

50

### .Count

It shows the total no. of non-null values in each column. It can be applied on a single column as well as on whole dataframe.

In [11]:
data.count()

Date/Time           8784
Temp_C              8784
Dew Point Temp_C    8784
Rel Hum_%           8784
Wind Speed_km/h     8784
Visibility_km       8784
Press_kPa           8784
Weather             8784
dtype: int64

### .Value_counts

In a column, it shows all the unique values with their count. It can be applied on single column only.

In [12]:
data.Weather.value_counts()

Weather
Mainly Clear                               2106
Mostly Cloudy                              2069
Cloudy                                     1728
Clear                                      1326
Snow                                        390
Rain                                        306
Rain Showers                                188
Fog                                         150
Rain,Fog                                    116
Drizzle,Fog                                  80
Snow Showers                                 60
Drizzle                                      41
Snow,Fog                                     37
Snow,Blowing Snow                            19
Rain,Snow                                    18
Thunderstorms,Rain Showers                   16
Haze                                         16
Drizzle,Snow,Fog                             15
Freezing Rain                                14
Freezing Drizzle,Snow                        11
Freezing Drizzle                              7
Snow,Ice Pellets                              6
Freezing Drizzle,Fog                          6
Snow,Haze                                     5
Freezing Fog                                  4
Snow Showers,Fog                              4
Moderate Snow                                 4
Rain,Snow,Ice Pellets                         4
Freezing Rain,Fog                             4
Freezing Drizzle,Haze                         3
Rain,Haze                                     3
Thunderstorms,Rain                            3
Thunderstorms,Rain Showers,Fog                3
Freezing Rain,Haze                            2
Drizzle,Snow                                  2
Rain Showers,Snow Showers                     2
Thunderstorms                                 2
Moderate Snow,Blowing Snow                    2
Rain Showers,Fog                              1
Thunderstorms,Moderate Rain Showers,Fog       1
Snow Pellets                                  1
Rain,Snow,Fog                                 1
Moderate Rain,Fog                             1
Freezing Rain,Ice Pellets,Fog                 1
Drizzle,Ice Pellets,Fog                       1
Thunderstorms,Rain,Fog                        1
Rain,Ice Pellets                              1
Rain,Snow Grains                              1
Thunderstorms,Heavy Rain Showers              1
Freezing Rain,Snow Grains                     1
Name: count, dtype: int64

### .Isnull

 Finding Null values

In [13]:
data.isnull().sum()

Date/Time           0
Temp_C              0
Dew Point Temp_C    0
Rel Hum_%           0
Wind Speed_km/h     0
Visibility_km       0
Press_kPa           0
Weather             0
dtype: int64

### .Describe

 Finding some basic information regarding dataset

In [14]:
data.describe()

,Temp_C,Dew Point Temp_C,Rel Hum_%,Wind Speed_km/h,Visibility_km,Press_kPa
count,8784.000000,8784.000000,8784.000000,8784.000000,8784.000000,8784.000000
mean,8.798144,2.555294,67.431694,14.945469,27.664447,101.051623
std,11.687883,10.883072,16.918881,8.688696,12.622688,0.844005
min,-23.300000,-28.500000,18.000000,0.000000,0.200000,97.520000
25%,0.100000,-5.900000,56.000000,9.000000,24.100000,100.560000
50%,9.300000,3.300000,68.000000,13.000000,25.000000,101.070000
75%,18.800000,11.800000,81.000000,20.000000,25.000000,101.590000
max,33.000000,24.400000,100.000000,83.000000,48.300000,103.650000

### .Info

Provides basic information about the dataframe

In [15]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 8784 entries, 0 to 8783
Data columns (total 8 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   Date/Time         8784 non-null   object
 1   Temp_C            8784 non-null   float64
 2   Dew Point Temp_C  8784 non-null   float64
 3   Rel Hum_%         8784 non-null   int64
 4   Wind Speed_km/h   8784 non-null   int64
 5   Visibility_km     8784 non-null   float64
 6   Press_kPa         8784 non-null   float64
 7   Weather           8784 non-null   object
dtypes: float64(4), int64(2), object(2)
memory usage: 549.1+ KB

## Q1 Find all the unique "Wind Speed" values in the data.

In [16]:
data.head(2)

,Date/Time,Temp_C,Dew Point Temp_C,Rel Hum_%,Wind Speed_km/h,Visibility_km,Press_kPa,Weather
0,1/1/2012 0:00,-1.8,-3.9,86,4,8.0,101.24,Fog
1,1/1/2012 1:00,-1.8,-3.7,87,4,8.0,101.24,Fog

In [17]:
data["Wind Speed_km/h"].unique()

array([ 4,  7,  6,  9, 15, 13, 20, 22, 19, 24, 30, 35, 39, 32, 33, 26, 44,
       43, 48, 37, 28, 17, 11,  0, 83, 70, 57, 46, 41, 52, 50, 63, 54,  2],
      dtype=int64)

## Q2 Find the number of times when the "Weather is exactly Clear".

In [18]:
data.head(2)

,Date/Time,Temp_C,Dew Point Temp_C,Rel Hum_%,Wind Speed_km/h,Visibility_km,Press_kPa,Weather
0,1/1/2012 0:00,-1.8,-3.9,86,4,8.0,101.24,Fog
1,1/1/2012 1:00,-1.8,-3.7,87,4,8.0,101.24,Fog

In [19]:
data.Weather.unique()

array(['Fog', 'Freezing Drizzle,Fog', 'Mostly Cloudy', 'Cloudy', 'Rain',
       'Rain Showers', 'Mainly Clear', 'Snow Showers', 'Snow', 'Clear',
       'Freezing Rain,Fog', 'Freezing Rain', 'Freezing Drizzle',
       'Rain,Snow', 'Moderate Snow', 'Freezing Drizzle,Snow',
       'Freezing Rain,Snow Grains', 'Snow,Blowing Snow', 'Freezing Fog',
       'Haze', 'Rain,Fog', 'Drizzle,Fog', 'Drizzle',
       'Freezing Drizzle,Haze', 'Freezing Rain,Haze', 'Snow,Haze',
       'Snow,Fog', 'Snow,Ice Pellets', 'Rain,Haze', 'Thunderstorms,Rain',
       'Thunderstorms,Rain Showers', 'Thunderstorms,Heavy Rain Showers',
       'Thunderstorms,Rain Showers,Fog', 'Thunderstorms',
       'Thunderstorms,Rain,Fog',
       'Thunderstorms,Moderate Rain Showers,Fog', 'Rain Showers,Fog',
       'Rain Showers,Snow Showers', 'Snow Pellets', 'Rain,Snow,Fog',
       'Moderate Rain,Fog', 'Freezing Rain,Ice Pellets,Fog',
       'Drizzle,Ice Pellets,Fog', 'Drizzle,Snow', 'Rain,Ice Pellets',
       'Drizzle,Snow,Fog', 'Rain,Snow Grains', 'Rain,Snow,Ice Pellets',
       'Snow Showers,Fog', 'Moderate Snow,Blowing Snow'], dtype=object)

In [20]:
data[data.Weather=='Clear']

,Date/Time,Temp_C,Dew Point Temp_C,Rel Hum_%,Wind Speed_km/h,Visibility_km,Press_kPa,Weather
67,1/3/2012 19:00,-16.9,-24.8,50,24,25.0,101.74,Clear
114,1/5/2012 18:00,-7.1,-14.4,56,11,25.0,100.71,Clear
115,1/5/2012 19:00,-9.2,-15.4,61,7,25.0,100.80,Clear
116,1/5/2012 20:00,-9.8,-15.7,62,9,25.0,100.83,Clear
117,1/5/2012 21:00,-9.0,-14.8,63,13,25.0,100.83,Clear
...,...,...,...,...,...,...,...,...
8646,12/26/2012 6:00,-13.4,-14.8,89,4,25.0,102.47,Clear
8698,12/28/2012 10:00,-6.1,-8.6,82,19,24.1,101.27,Clear
8713,12/29/2012 1:00,-11.9,-13.6,87,11,25.0,101.31,Clear
8714,12/29/2012 2:00,-11.8,-13.1,90,13,25.0,101.33,Clear
8756,12/30/2012 20:00,-13.8,-16.5,80,24,25.0,101.52,Clear

## OR

In [21]:
data.Weather.value_counts()    ## Clear is equal to 1326

Weather
Mainly Clear                               2106
Mostly Cloudy                              2069
Cloudy                                     1728
Clear                                      1326
Snow                                        390
Rain                                        306
Rain Showers                                188
Fog                                         150
Rain,Fog                                    116
Drizzle,Fog                                  80
Snow Showers                                 60
Drizzle                                      41
Snow,Fog                                     37
Snow,Blowing Snow                            19
Rain,Snow                                    18
Thunderstorms,Rain Showers                   16
Haze                                         16
Drizzle,Snow,Fog                             15
Freezing Rain                                14
Freezing Drizzle,Snow                        11
Freezing Drizzle                              7
Snow,Ice Pellets                              6
Freezing Drizzle,Fog                          6
Snow,Haze                                     5
Freezing Fog                                  4
Snow Showers,Fog                              4
Moderate Snow                                 4
Rain,Snow,Ice Pellets                         4
Freezing Rain,Fog                             4
Freezing Drizzle,Haze                         3
Rain,Haze                                     3
Thunderstorms,Rain                            3
Thunderstorms,Rain Showers,Fog                3
Freezing Rain,Haze                            2
Drizzle,Snow                                  2
Rain Showers,Snow Showers                     2
Thunderstorms                                 2
Moderate Snow,Blowing Snow                    2
Rain Showers,Fog                              1
Thunderstorms,Moderate Rain Showers,Fog       1
Snow Pellets                                  1
Rain,Snow,Fog                                 1
Moderate Rain,Fog                             1
Freezing Rain,Ice Pellets,Fog                 1
Drizzle,Ice Pellets,Fog                       1
Thunderstorms,Rain,Fog                        1
Rain,Ice Pellets                              1
Rain,Snow Grains                              1
Thunderstorms,Heavy Rain Showers              1
Freezing Rain,Snow Grains                     1
Name: count, dtype: int64

### OR

In [22]:
data.groupby("Weather").get_group("Clear")

,Date/Time,Temp_C,Dew Point Temp_C,Rel Hum_%,Wind Speed_km/h,Visibility_km,Press_kPa,Weather
67,1/3/2012 19:00,-16.9,-24.8,50,24,25.0,101.74,Clear
114,1/5/2012 18:00,-7.1,-14.4,56,11,25.0,100.71,Clear
115,1/5/2012 19:00,-9.2,-15.4,61,7,25.0,100.80,Clear
116,1/5/2012 20:00,-9.8,-15.7,62,9,25.0,100.83,Clear
117,1/5/2012 21:00,-9.0,-14.8,63,13,25.0,100.83,Clear
...,...,...,...,...,...,...,...,...
8646,12/26/2012 6:00,-13.4,-14.8,89,4,25.0,102.47,Clear
8698,12/28/2012 10:00,-6.1,-8.6,82,19,24.1,101.27,Clear
8713,12/29/2012 1:00,-11.9,-13.6,87,11,25.0,101.31,Clear
8714,12/29/2012 2:00,-11.8,-13.1,90,13,25.0,101.33,Clear
8756,12/30/2012 20:00,-13.8,-16.5,80,24,25.0,101.52,Clear

## Q3 Find the number of times when the "Wind Speed was exactly 4km/h".

In [23]:
data.head(2)

,Date/Time,Temp_C,Dew Point Temp_C,Rel Hum_%,Wind Speed_km/h,Visibility_km,Press_kPa,Weather
0,1/1/2012 0:00,-1.8,-3.9,86,4,8.0,101.24,Fog
1,1/1/2012 1:00,-1.8,-3.7,87,4,8.0,101.24,Fog

In [24]:
data[data['Wind Speed_km/h']==4]

,Date/Time,Temp_C,Dew Point Temp_C,Rel Hum_%,Wind Speed_km/h,Visibility_km,Press_kPa,Weather
0,1/1/2012 0:00,-1.8,-3.9,86,4,8.0,101.24,Fog
1,1/1/2012 1:00,-1.8,-3.7,87,4,8.0,101.24,Fog
96,1/5/2012 0:00,-8.8,-11.7,79,4,9.7,100.32,Snow
101,1/5/2012 5:00,-7.0,-9.5,82,4,4.0,100.19,Snow
146,1/7/2012 2:00,-8.1,-11.1,79,4,19.3,100.15,Cloudy
...,...,...,...,...,...,...,...,...
8768,12/31/2012 8:00,-8.6,-10.3,87,4,3.2,101.14,Snow Showers
8769,12/31/2012 9:00,-8.1,-9.6,89,4,2.4,101.09,Snow
8770,12/31/2012 10:00,-7.4,-8.9,89,4,6.4,101.05,"Snow,Fog"
8772,12/31/2012 12:00,-5.8,-7.5,88,4,12.9,100.78,Snow
8773,12/31/2012 13:00,-4.6,-6.6,86,4,12.9,100.63,Snow

## Q4 Find out all the Null Values in the data.

In [25]:
data.isnull().sum()

Date/Time           0
Temp_C              0
Dew Point Temp_C    0
Rel Hum_%           0
Wind Speed_km/h     0
Visibility_km       0
Press_kPa           0
Weather             0
dtype: int64

## OR

In [26]:
data.notnull().sum()            ## This line of code give total no. of element into the data, that's mean zero null value in this dataset

Date/Time           8784
Temp_C              8784
Dew Point Temp_C    8784
Rel Hum_%           8784
Wind Speed_km/h     8784
Visibility_km       8784
Press_kPa           8784
Weather             8784
dtype: int64

## Q5 Rename the column name 'Weather' of the dataframe to 'Weather Condition'.

In [27]:
data['Weather Condition']=data['Weather']

In [28]:
data.drop('Weather',axis=1,inplace=True )

In [29]:
data.head(2)

,Date/Time,Temp_C,Dew Point Temp_C,Rel Hum_%,Wind Speed_km/h,Visibility_km,Press_kPa,Weather Condition
0,1/1/2012 0:00,-1.8,-3.9,86,4,8.0,101.24,Fog
1,1/1/2012 1:00,-1.8,-3.7,87,4,8.0,101.24,Fog

## OR

In [30]:
data.rename(columns={'Weather':'Weather Condition'}, inplace=True)

In [31]:
data.head(2)

,Date/Time,Temp_C,Dew Point Temp_C,Rel Hum_%,Wind Speed_km/h,Visibility_km,Press_kPa,Weather Condition
0,1/1/2012 0:00,-1.8,-3.9,86,4,8.0,101.24,Fog
1,1/1/2012 1:00,-1.8,-3.7,87,4,8.0,101.24,Fog

## Q6 What is the mean "Visibility"?

In [32]:
data.head(2)

,Date/Time,Temp_C,Dew Point Temp_C,Rel Hum_%,Wind Speed_km/h,Visibility_km,Press_kPa,Weather Condition
0,1/1/2012 0:00,-1.8,-3.9,86,4,8.0,101.24,Fog
1,1/1/2012 1:00,-1.8,-3.7,87,4,8.0,101.24,Fog

In [33]:
data.Visibility_km.mean()

27.664446721311478

## Q7 What is the Standard Deviation of 'Pressure' in this data?

In [34]:
data.head(2)

,Date/Time,Temp_C,Dew Point Temp_C,Rel Hum_%,Wind Speed_km/h,Visibility_km,Press_kPa,Weather Condition
0,1/1/2012 0:00,-1.8,-3.9,86,4,8.0,101.24,Fog
1,1/1/2012 1:00,-1.8,-3.7,87,4,8.0,101.24,Fog

In [35]:
data.Press_kPa.std()

0.8440047459486483

## Q8 What is the Variance of 'Relative Humidity' in this data?

In [36]:
data.head(2)

,Date/Time,Temp_C,Dew Point Temp_C,Rel Hum_%,Wind Speed_km/h,Visibility_km,Press_kPa,Weather Condition
0,1/1/2012 0:00,-1.8,-3.9,86,4,8.0,101.24,Fog
1,1/1/2012 1:00,-1.8,-3.7,87,4,8.0,101.24,Fog

In [37]:
data['Rel Hum_%'].var()

286.24855019850196

## Q9 Find all instances when 'Snow' was recorded.

In [38]:
data.head(2)

,Date/Time,Temp_C,Dew Point Temp_C,Rel Hum_%,Wind Speed_km/h,Visibility_km,Press_kPa,Weather Condition
0,1/1/2012 0:00,-1.8,-3.9,86,4,8.0,101.24,Fog
1,1/1/2012 1:00,-1.8,-3.7,87,4,8.0,101.24,Fog

In [39]:
data[data['Weather Condition']=='Snow']

,Date/Time,Temp_C,Dew Point Temp_C,Rel Hum_%,Wind Speed_km/h,Visibility_km,Press_kPa,Weather Condition
55,1/3/2012 7:00,-14.0,-19.5,63,19,25.0,100.95,Snow
84,1/4/2012 12:00,-13.7,-21.7,51,11,24.1,101.25,Snow
86,1/4/2012 14:00,-11.3,-19.0,53,7,19.3,100.97,Snow
87,1/4/2012 15:00,-10.2,-16.3,61,11,9.7,100.89,Snow
88,1/4/2012 16:00,-9.4,-15.5,61,13,19.3,100.79,Snow
...,...,...,...,...,...,...,...,...
8779,12/31/2012 19:00,0.1,-2.7,81,30,9.7,100.13,Snow
8780,12/31/2012 20:00,0.2,-2.4,83,24,9.7,100.03,Snow
8781,12/31/2012 21:00,-0.5,-1.5,93,28,4.8,99.95,Snow
8782,12/31/2012 22:00,-0.2,-1.8,89,28,9.7,99.91,Snow
8783,12/31/2012 23:00,0.0,-2.1,86,30,11.3,99.89,Snow

## OR

In [40]:
data['Weather Condition'].value_counts()

Weather Condition
Mainly Clear                               2106
Mostly Cloudy                              2069
Cloudy                                     1728
Clear                                      1326
Snow                                        390
Rain                                        306
Rain Showers                                188
Fog                                         150
Rain,Fog                                    116
Drizzle,Fog                                  80
Snow Showers                                 60
Drizzle                                      41
Snow,Fog                                     37
Snow,Blowing Snow                            19
Rain,Snow                                    18
Thunderstorms,Rain Showers                   16
Haze                                         16
Drizzle,Snow,Fog                             15
Freezing Rain                                14
Freezing Drizzle,Snow                        11
Freezing Drizzle                              7
Snow,Ice Pellets                              6
Freezing Drizzle,Fog                          6
Snow,Haze                                     5
Freezing Fog                                  4
Snow Showers,Fog                              4
Moderate Snow                                 4
Rain,Snow,Ice Pellets                         4
Freezing Rain,Fog                             4
Freezing Drizzle,Haze                         3
Rain,Haze                                     3
Thunderstorms,Rain                            3
Thunderstorms,Rain Showers,Fog                3
Freezing Rain,Haze                            2
Drizzle,Snow                                  2
Rain Showers,Snow Showers                     2
Thunderstorms                                 2
Moderate Snow,Blowing Snow                    2
Rain Showers,Fog                              1
Thunderstorms,Moderate Rain Showers,Fog       1
Snow Pellets                                  1
Rain,Snow,Fog                                 1
Moderate Rain,Fog                             1
Freezing Rain,Ice Pellets,Fog                 1
Drizzle,Ice Pellets,Fog                       1
Thunderstorms,Rain,Fog                        1
Rain,Ice Pellets                              1
Rain,Snow Grains                              1
Thunderstorms,Heavy Rain Showers              1
Freezing Rain,Snow Grains                     1
Name: count, dtype: int64

## Or

In [41]:
data[data['Weather Condition'].str.contains('Snow')]

,Date/Time,Temp_C,Dew Point Temp_C,Rel Hum_%,Wind Speed_km/h,Visibility_km,Press_kPa,Weather Condition
41,1/2/2012 17:00,-2.1,-9.5,57,22,25.0,99.66,Snow Showers
44,1/2/2012 20:00,-5.6,-13.4,54,24,25.0,100.07,Snow Showers
45,1/2/2012 21:00,-5.8,-12.8,58,26,25.0,100.15,Snow Showers
47,1/2/2012 23:00,-7.4,-14.1,59,17,19.3,100.27,Snow Showers
48,1/3/2012 0:00,-9.0,-16.0,57,28,25.0,100.35,Snow Showers
...,...,...,...,...,...,...,...,...
8779,12/31/2012 19:00,0.1,-2.7,81,30,9.7,100.13,Snow
8780,12/31/2012 20:00,0.2,-2.4,83,24,9.7,100.03,Snow
8781,12/31/2012 21:00,-0.5,-1.5,93,28,4.8,99.95,Snow
8782,12/31/2012 22:00,-0.2,-1.8,89,28,9.7,99.91,Snow
8783,12/31/2012 23:00,0.0,-2.1,86,30,11.3,99.89,Snow

## Q10 Find all instances when 'Wind Speed is above 24' and 'Visibility is 25'.

In [42]:
data.head(2)

,Date/Time,Temp_C,Dew Point Temp_C,Rel Hum_%,Wind Speed_km/h,Visibility_km,Press_kPa,Weather Condition
0,1/1/2012 0:00,-1.8,-3.9,86,4,8.0,101.24,Fog
1,1/1/2012 1:00,-1.8,-3.7,87,4,8.0,101.24,Fog

In [43]:
data[(data['Wind Speed_km/h']>24)&(data.Visibility_km==25)]

,Date/Time,Temp_C,Dew Point Temp_C,Rel Hum_%,Wind Speed_km/h,Visibility_km,Press_kPa,Weather Condition
23,1/1/2012 23:00,5.3,2.0,79,30,25.0,99.31,Cloudy
24,1/2/2012 0:00,5.2,1.5,77,35,25.0,99.26,Rain Showers
25,1/2/2012 1:00,4.6,0.0,72,39,25.0,99.26,Cloudy
26,1/2/2012 2:00,3.9,-0.9,71,32,25.0,99.26,Mostly Cloudy
27,1/2/2012 3:00,3.7,-1.5,69,33,25.0,99.30,Mostly Cloudy
...,...,...,...,...,...,...,...,...
8705,12/28/2012 17:00,-8.6,-12.0,76,26,25.0,101.34,Mainly Clear
8753,12/30/2012 17:00,-12.1,-15.8,74,28,25.0,101.26,Mainly Clear
8755,12/30/2012 19:00,-13.4,-16.5,77,26,25.0,101.47,Mainly Clear
8759,12/30/2012 23:00,-12.1,-15.1,78,28,25.0,101.52,Mostly Cloudy
8760,12/31/2012 0:00,-11.1,-14.4,77,26,25.0,101.51,Cloudy

## Q11 What is the mean value of Temp_C column against each 'Weather condition'.

In [44]:
data.head(2)

,Date/Time,Temp_C,Dew Point Temp_C,Rel Hum_%,Wind Speed_km/h,Visibility_km,Press_kPa,Weather Condition
0,1/1/2012 0:00,-1.8,-3.9,86,4,8.0,101.24,Fog
1,1/1/2012 1:00,-1.8,-3.7,87,4,8.0,101.24,Fog

In [65]:
data.groupby('Weather Condition')['Temp_C'].mean()

Weather Condition
Clear                                       6.825716
Cloudy                                      7.970544
Drizzle                                     7.353659
Drizzle,Fog                                 8.067500
Drizzle,Ice Pellets,Fog                     0.400000
Drizzle,Snow                                1.050000
Drizzle,Snow,Fog                            0.693333
Fog                                         4.303333
Freezing Drizzle                           -5.657143
Freezing Drizzle,Fog                       -2.533333
Freezing Drizzle,Haze                      -5.433333
Freezing Drizzle,Snow                      -5.109091
Freezing Fog                               -7.575000
Freezing Rain                              -3.885714
Freezing Rain,Fog                          -2.225000
Freezing Rain,Haze                         -4.900000
Freezing Rain,Ice Pellets,Fog              -2.600000
Freezing Rain,Snow Grains                  -5.000000
Haze                                       -0.200000
Mainly Clear                               12.558927
Moderate Rain,Fog                           1.700000
Moderate Snow                              -5.525000
Moderate Snow,Blowing Snow                 -5.450000
Mostly Cloudy                              10.574287
Rain                                        9.786275
Rain Showers                               13.722340
Rain Showers,Fog                           12.800000
Rain Showers,Snow Showers                   2.150000
Rain,Fog                                    8.273276
Rain,Haze                                   4.633333
Rain,Ice Pellets                            0.600000
Rain,Snow                                   1.055556
Rain,Snow Grains                            1.900000
Rain,Snow,Fog                               0.800000
Rain,Snow,Ice Pellets                       1.100000
Snow                                       -4.524103
Snow Pellets                                0.700000
Snow Showers                               -3.506667
Snow Showers,Fog                          -10.675000
Snow,Blowing Snow                          -5.410526
Snow,Fog                                   -5.075676
Snow,Haze                                  -4.020000
Snow,Ice Pellets                           -1.883333
Thunderstorms                              24.150000
Thunderstorms,Heavy Rain Showers           10.900000
Thunderstorms,Moderate Rain Showers,Fog    19.600000
Thunderstorms,Rain                         20.433333
Thunderstorms,Rain Showers                 20.037500
Thunderstorms,Rain Showers,Fog             21.600000
Thunderstorms,Rain,Fog                     20.600000
Name: Temp_C, dtype: float64

## Q12 What is the Minimum & Maximum value of Temp_C column against each 'Weather Condition'?

In [60]:
data.head(2)

,Date/Time,Temp_C,Dew Point Temp_C,Rel Hum_%,Wind Speed_km/h,Visibility_km,Press_kPa,Weather Condition
0,1/1/2012 0:00,-1.8,-3.9,86,4,8.0,101.24,Fog
1,1/1/2012 1:00,-1.8,-3.7,87,4,8.0,101.24,Fog

In [85]:
data.groupby('Weather Condition')['Temp_C'].max()

Weather Condition
Clear                                      32.8
Cloudy                                     30.5
Drizzle                                    18.8
Drizzle,Fog                                19.9
Drizzle,Ice Pellets,Fog                     0.4
Drizzle,Snow                                1.2
Drizzle,Snow,Fog                            1.1
Fog                                        20.8
Freezing Drizzle                           -2.3
Freezing Drizzle,Fog                       -0.3
Freezing Drizzle,Haze                      -5.0
Freezing Drizzle,Snow                      -3.3
Freezing Fog                               -0.1
Freezing Rain                               0.3
Freezing Rain,Fog                           0.1
Freezing Rain,Haze                         -4.9
Freezing Rain,Ice Pellets,Fog              -2.6
Freezing Rain,Snow Grains                  -5.0
Haze                                       14.1
Mainly Clear                               33.0
Moderate Rain,Fog                           1.7
Moderate Snow                              -4.9
Moderate Snow,Blowing Snow                 -5.4
Mostly Cloudy                              32.4
Rain                                       22.8
Rain Showers                               26.4
Rain Showers,Fog                           12.8
Rain Showers,Snow Showers                   2.2
Rain,Fog                                   21.7
Rain,Haze                                   5.5
Rain,Ice Pellets                            0.6
Rain,Snow                                   1.7
Rain,Snow Grains                            1.9
Rain,Snow,Fog                               0.8
Rain,Snow,Ice Pellets                       1.3
Snow                                        3.7
Snow Pellets                                0.7
Snow Showers                                2.9
Snow Showers,Fog                          -10.0
Snow,Blowing Snow                          -1.4
Snow,Fog                                    1.1
Snow,Haze                                  -3.6
Snow,Ice Pellets                            0.8
Thunderstorms                              26.7
Thunderstorms,Heavy Rain Showers           10.9
Thunderstorms,Moderate Rain Showers,Fog    19.6
Thunderstorms,Rain                         21.3
Thunderstorms,Rain Showers                 25.5
Thunderstorms,Rain Showers,Fog             22.9
Thunderstorms,Rain,Fog                     20.6
Name: Temp_C, dtype: float64

In [86]:
data.groupby('Weather Condition')['Temp_C'].min()

Weather Condition
Clear                                     -23.3
Cloudy                                    -21.4
Drizzle                                     1.1
Drizzle,Fog                                 0.0
Drizzle,Ice Pellets,Fog                     0.4
Drizzle,Snow                                0.9
Drizzle,Snow,Fog                            0.3
Fog                                       -16.0
Freezing Drizzle                           -9.0
Freezing Drizzle,Fog                       -6.4
Freezing Drizzle,Haze                      -5.8
Freezing Drizzle,Snow                      -8.3
Freezing Fog                              -19.0
Freezing Rain                              -6.5
Freezing Rain,Fog                          -6.1
Freezing Rain,Haze                         -4.9
Freezing Rain,Ice Pellets,Fog              -2.6
Freezing Rain,Snow Grains                  -5.0
Haze                                      -11.5
Mainly Clear                              -22.8
Moderate Rain,Fog                           1.7
Moderate Snow                              -6.3
Moderate Snow,Blowing Snow                 -5.5
Mostly Cloudy                             -23.2
Rain                                        0.3
Rain Showers                                1.6
Rain Showers,Fog                           12.8
Rain Showers,Snow Showers                   2.1
Rain,Fog                                    0.0
Rain,Haze                                   4.0
Rain,Ice Pellets                            0.6
Rain,Snow                                   0.6
Rain,Snow Grains                            1.9
Rain,Snow,Fog                               0.8
Rain,Snow,Ice Pellets                       0.9
Snow                                      -16.7
Snow Pellets                                0.7
Snow Showers                              -13.3
Snow Showers,Fog                          -11.3
Snow,Blowing Snow                         -12.0
Snow,Fog                                  -10.1
Snow,Haze                                  -4.3
Snow,Ice Pellets                           -4.3
Thunderstorms                              21.6
Thunderstorms,Heavy Rain Showers           10.9
Thunderstorms,Moderate Rain Showers,Fog    19.6
Thunderstorms,Rain                         19.4
Thunderstorms,Rain Showers                 11.0
Thunderstorms,Rain Showers,Fog             19.5
Thunderstorms,Rain,Fog                     20.6
Name: Temp_C, dtype: float64

## Q13 What is the mean value of each column against each 'Weather condition'.

In [78]:
data.head(2)

,Date/Time,Temp_C,Dew Point Temp_C,Rel Hum_%,Wind Speed_km/h,Visibility_km,Press_kPa,Weather Condition
0,1/1/2012 0:00,-1.8,-3.9,86,4,8.0,101.24,Fog
1,1/1/2012 1:00,-1.8,-3.7,87,4,8.0,101.24,Fog

In [83]:
for i in data.columns:
    if data[i].dtype in ['int64','float64']:
        print(data.groupby('Weather Condition')[i].mean())

Weather Condition
Clear                                       6.825716
Cloudy                                      7.970544
Drizzle                                     7.353659
Drizzle,Fog                                 8.067500
Drizzle,Ice Pellets,Fog                     0.400000
Drizzle,Snow                                1.050000
Drizzle,Snow,Fog                            0.693333
Fog                                         4.303333
Freezing Drizzle                           -5.657143
Freezing Drizzle,Fog                       -2.533333
Freezing Drizzle,Haze                      -5.433333
Freezing Drizzle,Snow                      -5.109091
Freezing Fog                               -7.575000
Freezing Rain                              -3.885714
Freezing Rain,Fog                          -2.225000
Freezing Rain,Haze                         -4.900000
Freezing Rain,Ice Pellets,Fog              -2.600000
Freezing Rain,Snow Grains                  -5.000000
Haze                                       -0.200000
Mainly Clear                               12.558927
Moderate Rain,Fog                           1.700000
Moderate Snow                              -5.525000
Moderate Snow,Blowing Snow                 -5.450000
Mostly Cloudy                              10.574287
Rain                                        9.786275
Rain Showers                               13.722340
Rain Showers,Fog                           12.800000
Rain Showers,Snow Showers                   2.150000
Rain,Fog                                    8.273276
Rain,Haze                                   4.633333
Rain,Ice Pellets                            0.600000
Rain,Snow                                   1.055556
Rain,Snow Grains                            1.900000
Rain,Snow,Fog                               0.800000
Rain,Snow,Ice Pellets                       1.100000
Snow                                       -4.524103
Snow Pellets                                0.700000
Snow Showers                               -3.506667
Snow Showers,Fog                          -10.675000
Snow,Blowing Snow                          -5.410526
Snow,Fog                                   -5.075676
Snow,Haze                                  -4.020000
Snow,Ice Pellets                           -1.883333
Thunderstorms                              24.150000
Thunderstorms,Heavy Rain Showers           10.900000
Thunderstorms,Moderate Rain Showers,Fog    19.600000
Thunderstorms,Rain                         20.433333
Thunderstorms,Rain Showers                 20.037500
Thunderstorms,Rain Showers,Fog             21.600000
Thunderstorms,Rain,Fog                     20.600000
Name: Temp_C, dtype: float64
Weather Condition
Clear                                       0.089367
Cloudy                                      2.375810
Drizzle                                     5.504878
Drizzle,Fog                                 7.033750
Drizzle,Ice Pellets,Fog                    -0.700000
Drizzle,Snow                                0.150000
Drizzle,Snow,Fog                            0.120000
Fog                                         3.159333
Freezing Drizzle                           -8.000000
Freezing Drizzle,Fog                       -4.183333
Freezing Drizzle,Haze                      -8.000000
Freezing Drizzle,Snow                      -7.072727
Freezing Fog                               -9.250000
Freezing Rain                              -6.078571
Freezing Rain,Fog                          -3.750000
Freezing Rain,Haze                         -7.450000
Freezing Rain,Ice Pellets,Fog              -3.700000
Freezing Rain,Snow Grains                  -7.300000
Haze                                       -2.975000
Mainly Clear                                4.581671
Moderate Rain,Fog                           0.800000
Moderate Snow                              -7.250000
Moderate Snow,Blowing Snow                 -6.500000
Mostly Cloudy                               3.131174
Rain                                        7.042810
Rain Showers                                9.187766
Rain Showers,Fog                           12.100000
Rain Showers,Snow Showers                  -1.500000
Rain,Fog                                    7.219828
Rain,Haze                                   2.066667
Rain,Ice Pellets                           -0.600000
Rain,Snow                                  -0.566667
Rain,Snow Grains                           -2.100000
Rain,Snow,Fog                               0.300000
Rain,Snow,Ice Pellets                      -0.175000
Snow                                       -7.623333
Snow Pellets                               -6.400000
Snow Showers                               -7.866667
Snow Showers,Fog                          -11.900000
Snow,Blowing Snow                          -7.621053
Snow,Fog                                   -6.364865
Snow,Haze                                  -6.860000
Snow,Ice Pellets                           -3.666667
Thunderstorms                              19.750000
Thunderstorms,Heavy Rain Showers            9.000000
Thunderstorms,Moderate Rain Showers,Fog    18.500000
Thunderstorms,Rain                         18.533333
Thunderstorms,Rain Showers                 17.618750
Thunderstorms,Rain Showers,Fog             18.700000
Thunderstorms,Rain,Fog                     18.600000
Name: Dew Point Temp_C, dtype: float64
Weather Condition
Clear                                      64.497738
Cloudy                                     69.592593
Drizzle                                    88.243902
Drizzle,Fog                                93.275000
Drizzle,Ice Pellets,Fog                    92.000000
Drizzle,Snow                               93.500000
Drizzle,Snow,Fog                           95.866667
Fog                                        92.286667
Freezing Drizzle                           83.571429
Freezing Drizzle,Fog                       88.500000
Freezing Drizzle,Haze                      82.000000
Freezing Drizzle,Snow                      86.090909
Freezing Fog                               87.750000
Freezing Rain                              84.642857
Freezing Rain,Fog                          89.500000
Freezing Rain,Haze                         82.500000
Freezing Rain,Ice Pellets,Fog              92.000000
Freezing Rain,Snow Grains                  84.000000
Haze                                       81.625000
Mainly Clear                               60.667142
Moderate Rain,Fog                          94.000000
Moderate Snow                              87.750000
Moderate Snow,Blowing Snow                 92.500000
Mostly Cloudy                              62.102465
Rain                                       83.624183
Rain Showers                               75.159574
Rain Showers,Fog                           96.000000
Rain Showers,Snow Showers                  76.500000
Rain,Fog                                   93.189655
Rain,Haze                                  83.333333
Rain,Ice Pellets                           92.000000
Rain,Snow                                  89.000000
Rain,Snow Grains                           75.000000
Rain,Snow,Fog                              96.000000
Rain,Snow,Ice Pellets                      91.500000
Snow                                       79.307692
Snow Pellets                               59.000000
Snow Showers                               72.350000
Snow Showers,Fog                           90.750000
Snow,Blowing Snow                          84.473684
Snow,Fog                                   90.675676
Snow,Haze                                  80.600000
Snow,Ice Pellets                           87.666667
Thunderstorms                              77.000000
Thunderstorms,Heavy Rain Showers           88.000000
Thunderstorms,Moderate Rain Showers,Fog    93.000000
Thunderstorms,Rain                         89.000000
Thunderstorms,Rain Showers                 86.375000
Thunderstorms,Rain Showers,Fog             84.000000
Thunderstorms,Rain,Fog                     88.000000
Name: Rel Hum_%, dtype: float64
Weather Condition
Clear                                      10.557315
Cloudy                                     16.127315
Drizzle                                    16.097561
Drizzle,Fog                                11.862500
Drizzle,Ice Pellets,Fog                    20.000000
Drizzle,Snow                               14.000000
Drizzle,Snow,Fog                           15.533333
Fog                                         7.946667
Freezing Drizzle                           16.571429
Freezing Drizzle,Fog                       17.000000
Freezing Drizzle,Haze                      10.333333
Freezing Drizzle,Snow                      16.272727
Freezing Fog                                4.750000
Freezing Rain                              19.214286
Freezing Rain,Fog                          15.500000
Freezing Rain,Haze                          7.500000
Freezing Rain,Ice Pellets,Fog              28.000000
Freezing Rain,Snow Grains                  32.000000
Haze                                       10.437500
Mainly Clear                               14.144824
Moderate Rain,Fog                          17.000000
Moderate Snow                              33.750000
Moderate Snow,Blowing Snow                 40.000000
Mostly Cloudy                              15.813920
Rain                                       19.254902
Rain Showers                               17.132979
Rain Showers,Fog                           13.000000
Rain Showers,Snow Showers                  22.500000
Rain,Fog                                   14.793103
Rain,Haze                                  11.666667
Rain,Ice Pellets                           24.000000
Rain,Snow                                  28.388889
Rain,Snow Grains                           26.000000
Rain,Snow,Fog                               9.000000
Rain,Snow,Ice Pellets                      23.250000
Snow                                       20.038462
Snow Pellets                               35.000000
Snow Showers                               19.233333
Snow Showers,Fog                           13.750000
Snow,Blowing Snow                          34.842105
Snow,Fog                                   17.324324
Snow,Haze                                   5.000000
Snow,Ice Pellets                           23.833333
Thunderstorms                               7.500000
Thunderstorms,Heavy Rain Showers            9.000000
Thunderstorms,Moderate Rain Showers,Fog    15.000000
Thunderstorms,Rain                         15.666667
Thunderstorms,Rain Showers                 18.312500
Thunderstorms,Rain Showers,Fog             19.666667
Thunderstorms,Rain,Fog                     19.000000
Name: Wind Speed_km/h, dtype: float64
Weather Condition
Clear                                      30.153243
Cloudy                                     26.625752
Drizzle                                    17.931707
Drizzle,Fog                                 5.257500
Drizzle,Ice Pellets,Fog                     4.000000
Drizzle,Snow                               10.500000
Drizzle,Snow,Fog                            5.513333
Fog                                         6.248000
Freezing Drizzle                            9.200000
Freezing Drizzle,Fog                        5.266667
Freezing Drizzle,Haze                       2.666667
Freezing Drizzle,Snow                       5.872727
Freezing Fog                                0.650000
Freezing Rain                               8.242857
Freezing Rain,Fog                           7.550000
Freezing Rain,Haze                          2.400000
Freezing Rain,Ice Pellets,Fog               8.000000
Freezing Rain,Snow Grains                   4.800000
Haze                                        7.831250
Mainly Clear                               34.264862
Moderate Rain,Fog                           6.400000
Moderate Snow                               0.750000
Moderate Snow,Blowing Snow                  0.600000
Mostly Cloudy                              31.253842
Rain                                       18.856536
Rain Showers                               22.816489
Rain Showers,Fog                            6.400000
Rain Showers,Snow Showers                  21.700000
Rain,Fog                                    6.873276
Rain,Haze                                   6.700000
Rain,Ice Pellets                            9.700000
Rain,Snow                                  11.672222
Rain,Snow Grains                           25.000000
Rain,Snow,Fog                               6.400000
Rain,Snow,Ice Pellets                       6.000000
Snow                                       11.171795
Snow Pellets                                2.400000
Snow Showers                               20.158333
Snow Showers,Fog                            7.025000
Snow,Blowing Snow                           4.105263
Snow,Fog                                    4.537838
Snow,Haze                                   4.640000
Snow,Ice Pellets                            7.416667
Thunderstorms                              24.550000
Thunderstorms,Heavy Rain Showers            2.400000
Thunderstorms,Moderate Rain Showers,Fog     3.200000
Thunderstorms,Rain                         19.833333
Thunderstorms,Rain Showers                 15.893750
Thunderstorms,Rain Showers,Fog              9.700000
Thunderstorms,Rain,Fog                      4.800000
Name: Visibility_km, dtype: float64
Weather Condition
Clear                                      101.587443
Cloudy                                     100.911441
Drizzle                                    100.435366
Drizzle,Fog                                100.786625
Drizzle,Ice Pellets,Fog                    100.790000
Drizzle,Snow                               100.890000
Drizzle,Snow,Fog                            99.281333
Fog                                        101.184067
Freezing Drizzle                           100.202857
Freezing Drizzle,Fog                       100.441667
Freezing Drizzle,Haze                      100.316667
Freezing Drizzle,Snow                      100.520909
Freezing Fog                               102.320000
Freezing Rain                               99.647143
Freezing Rain,Fog                           99.945000
Freezing Rain,Haze                         100.375000
Freezing Rain,Ice Pellets,Fog              100.950000
Freezing Rain,Snow Grains                   98.560000
Haze                                       101.482500
Mainly Clear                               101.248832
Moderate Rain,Fog                           99.980000
Moderate Snow                              100.275000
Moderate Snow,Blowing Snow                 100.570000
Mostly Cloudy                              101.025288
Rain                                       100.233333
Rain Showers                               100.404043
Rain Showers,Fog                            99.830000
Rain Showers,Snow Showers                  101.100000
Rain,Fog                                   100.500862
Rain,Haze                                  100.540000
Rain,Ice Pellets                           100.120000
Rain,Snow                                   99.951111
Rain,Snow Grains                           100.600000
Rain,Snow,Fog                              100.730000
Rain,Snow,Ice Pellets                      100.105000
Snow                                       100.536103
Snow Pellets                                99.700000
Snow Showers                               100.963500
Snow Showers,Fog                           101.292500
Snow,Blowing Snow                           99.704737
Snow,Fog                                   100.688649
Snow,Haze                                  100.782000
Snow,Ice Pellets                           100.548333
Thunderstorms                              100.230000
Thunderstorms,Heavy Rain Showers           100.260000
Thunderstorms,Moderate Rain Showers,Fog    100.010000
Thunderstorms,Rain                         100.420000
Thunderstorms,Rain Showers                 100.233750
Thunderstorms,Rain Showers,Fog             100.063333
Thunderstorms,Rain,Fog                     100.080000
Name: Press_kPa, dtype: float64

## Q14 Show all the Records where Weather Condition is Fog.

In [46]:
data.head(2)

,Date/Time,Temp_C,Dew Point Temp_C,Rel Hum_%,Wind Speed_km/h,Visibility_km,Press_kPa,Weather Condition
0,1/1/2012 0:00,-1.8,-3.9,86,4,8.0,101.24,Fog
1,1/1/2012 1:00,-1.8,-3.7,87,4,8.0,101.24,Fog

In [47]:
data['Weather Condition'].value_counts()

Weather Condition
Mainly Clear                               2106
Mostly Cloudy                              2069
Cloudy                                     1728
Clear                                      1326
Snow                                        390
Rain                                        306
Rain Showers                                188
Fog                                         150
Rain,Fog                                    116
Drizzle,Fog                                  80
Snow Showers                                 60
Drizzle                                      41
Snow,Fog                                     37
Snow,Blowing Snow                            19
Rain,Snow                                    18
Thunderstorms,Rain Showers                   16
Haze                                         16
Drizzle,Snow,Fog                             15
Freezing Rain                                14
Freezing Drizzle,Snow                        11
Freezing Drizzle                              7
Snow,Ice Pellets                              6
Freezing Drizzle,Fog                          6
Snow,Haze                                     5
Freezing Fog                                  4
Snow Showers,Fog                              4
Moderate Snow                                 4
Rain,Snow,Ice Pellets                         4
Freezing Rain,Fog                             4
Freezing Drizzle,Haze                         3
Rain,Haze                                     3
Thunderstorms,Rain                            3
Thunderstorms,Rain Showers,Fog                3
Freezing Rain,Haze                            2
Drizzle,Snow                                  2
Rain Showers,Snow Showers                     2
Thunderstorms                                 2
Moderate Snow,Blowing Snow                    2
Rain Showers,Fog                              1
Thunderstorms,Moderate Rain Showers,Fog       1
Snow Pellets                                  1
Rain,Snow,Fog                                 1
Moderate Rain,Fog                             1
Freezing Rain,Ice Pellets,Fog                 1
Drizzle,Ice Pellets,Fog                       1
Thunderstorms,Rain,Fog                        1
Rain,Ice Pellets                              1
Rain,Snow Grains                              1
Thunderstorms,Heavy Rain Showers              1
Freezing Rain,Snow Grains                     1
Name: count, dtype: int64

## OR

In [49]:
data[data['Weather Condition']=='Fog']

,Date/Time,Temp_C,Dew Point Temp_C,Rel Hum_%,Wind Speed_km/h,Visibility_km,Press_kPa,Weather Condition
0,1/1/2012 0:00,-1.8,-3.9,86,4,8.0,101.24,Fog
1,1/1/2012 1:00,-1.8,-3.7,87,4,8.0,101.24,Fog
4,1/1/2012 4:00,-1.5,-3.3,88,7,4.8,101.23,Fog
5,1/1/2012 5:00,-1.4,-3.3,87,9,6.4,101.27,Fog
6,1/1/2012 6:00,-1.5,-3.1,89,7,6.4,101.29,Fog
...,...,...,...,...,...,...,...,...
8716,12/29/2012 4:00,-16.0,-17.2,90,6,9.7,101.25,Fog
8717,12/29/2012 5:00,-14.8,-15.9,91,4,6.4,101.25,Fog
8718,12/29/2012 6:00,-13.8,-15.3,88,4,9.7,101.25,Fog
8719,12/29/2012 7:00,-14.8,-16.4,88,7,8.0,101.22,Fog
8722,12/29/2012 10:00,-12.0,-13.3,90,7,6.4,101.15,Fog

## 15 Find all instances when 'Weather is Clear' or 'Visibility is above 40'.

In [50]:
data.head(2)

,Date/Time,Temp_C,Dew Point Temp_C,Rel Hum_%,Wind Speed_km/h,Visibility_km,Press_kPa,Weather Condition
0,1/1/2012 0:00,-1.8,-3.9,86,4,8.0,101.24,Fog
1,1/1/2012 1:00,-1.8,-3.7,87,4,8.0,101.24,Fog

In [52]:
data[(data.Visibility_km>40)|(data['Weather Condition']=='Clear')]

,Date/Time,Temp_C,Dew Point Temp_C,Rel Hum_%,Wind Speed_km/h,Visibility_km,Press_kPa,Weather Condition
67,1/3/2012 19:00,-16.9,-24.8,50,24,25.0,101.74,Clear
106,1/5/2012 10:00,-6.0,-10.0,73,17,48.3,100.45,Mainly Clear
107,1/5/2012 11:00,-5.6,-10.2,70,22,48.3,100.41,Mainly Clear
108,1/5/2012 12:00,-4.7,-9.6,69,20,48.3,100.38,Mainly Clear
109,1/5/2012 13:00,-4.4,-9.7,66,26,48.3,100.40,Mainly Clear
...,...,...,...,...,...,...,...,...
8749,12/30/2012 13:00,-12.4,-16.2,73,37,48.3,100.92,Mostly Cloudy
8750,12/30/2012 14:00,-11.8,-16.1,70,37,48.3,100.96,Mainly Clear
8751,12/30/2012 15:00,-11.3,-15.6,70,32,48.3,101.05,Mainly Clear
8752,12/30/2012 16:00,-11.4,-15.5,72,26,48.3,101.15,Mainly Clear
8756,12/30/2012 20:00,-13.8,-16.5,80,24,25.0,101.52,Clear

## Q16 Find all instances when:
    A 'Weather is Clear' and 'Relative Humidity is greater than 50'
    
    or
    
    B 'Visibility is above 40'

In [87]:
data.head(2)

,Date/Time,Temp_C,Dew Point Temp_C,Rel Hum_%,Wind Speed_km/h,Visibility_km,Press_kPa,Weather Condition
0,1/1/2012 0:00,-1.8,-3.9,86,4,8.0,101.24,Fog
1,1/1/2012 1:00,-1.8,-3.7,87,4,8.0,101.24,Fog

In [88]:
data[(data['Weather Condition']=='Clear') & (data['Rel Hum_%']>50) | (data.Visibility_km>40)]

,Date/Time,Temp_C,Dew Point Temp_C,Rel Hum_%,Wind Speed_km/h,Visibility_km,Press_kPa,Weather Condition
106,1/5/2012 10:00,-6.0,-10.0,73,17,48.3,100.45,Mainly Clear
107,1/5/2012 11:00,-5.6,-10.2,70,22,48.3,100.41,Mainly Clear
108,1/5/2012 12:00,-4.7,-9.6,69,20,48.3,100.38,Mainly Clear
109,1/5/2012 13:00,-4.4,-9.7,66,26,48.3,100.40,Mainly Clear
110,1/5/2012 14:00,-5.1,-10.7,65,22,48.3,100.46,Mainly Clear
...,...,...,...,...,...,...,...,...
8749,12/30/2012 13:00,-12.4,-16.2,73,37,48.3,100.92,Mostly Cloudy
8750,12/30/2012 14:00,-11.8,-16.1,70,37,48.3,100.96,Mainly Clear
8751,12/30/2012 15:00,-11.3,-15.6,70,32,48.3,101.05,Mainly Clear
8752,12/30/2012 16:00,-11.4,-15.5,72,26,48.3,101.15,Mainly Clear
8756,12/30/2012 20:00,-13.8,-16.5,80,24,25.0,101.52,Clear